* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Julius Sans One", "Jost", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --deep-violet: #202033;
    --beige:  #f9e1e3;
    --lilac: #b2a4ee;
    --less-violet: #a472c7;
    --miss-rose: #f09cbe;
}

html, body {
    margin: 0;
    height: 100%;
    padding: 5%;
    background-color: var(--less-violet);
}


.main-login{
    margin: auto;
    color: black;
    max-width: fit-content;
}

.centerthese{
    max-width: fit-content;
    transform: translate(25%);
}

h1{
    font-size: 120px;
    color: var(--beige);
}

h3{
    display: inline;
    color: var(--beige);
}

#loginbut{
  transform: translate(105%, 0);
  display: block;
  text-align: center;
  padding: 10px 20px;
  background-color: var(--beige);
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.register-link{
  display: block;
  text-align: center;
  padding: 10px 20px;
  background-color: var(--beige);
  border-radius: 4px;
  text-decoration: none;
}